{% extends "navbar.html" %}
{% load static %}

{% block body %}
<div class="container fade-in" style="max-width: 500px; margin-top: 40px;">
    <h2 style="text-align: center; margin-bottom: 30px;">Add patient</h2>
    <form method="post" action="">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
            <label for="mobile" class="form-label">Mobile</label>
            <input type="text" class="form-control" id="mobile" name="mobile" required>
        </div>
        <div class="mb-3">
            <label for="gender" class="form-label">gender</label>
            <input type="text" class="form-control" id="gender" name="gender" required>
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" name="address" required>
        </div>
    <button type="submit" class="btn btn-primary w-100 btn-animated">Add patient</button>
    </form>
</div>
{% endblock %}
